<%= c("main-col") do %>
  <h2>Contact</h2>
  <div class="contact-card">
    <div class="contact-text">
      U kunt contact opnemen met ons via onderstaand formulier. Wij proberen altijd zo snel mogelijk te antwoorden. Dit kan maximaal 5 werkdagen duren.
    </div>
    <div class="contact-form mt-3">
      <%= form_for(@contact_submission, url: contact_submission_path, method: :post, remote: true) do |f| %>
        <div class="form-group">
          <%= f.text_field :email, placeholder: "Laat hier uw email-adres indien u een reactie wenst", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.text_field :name, placeholder: "Naam", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.text_area :message, placeholder: "Bericht", rows: 5, class: "form-control" %>
        </div>

        <%= f.submit "Verzenden", class: "submit-button" %>
      <% end %>
    </div>
  </div>
<% end %>
