<nav id="nav" class="navbar fixed-top navbar-expand-lg navbar-light">
  <div class="container">
    <%#= link_to("Hardwarehub", root_path, class: "navbar-brand") %>
    <%#= link_to(image_tag(asset_pack_path('images/telescope_with_text.svg'), class: "logo-with-text d-lg-none"), root_path, class: "navbar-brand", id: "navbar-brand") %>
    <div class="navbar-top d-flex align-items-center flex-row w-100">
      <%= link_to(image_tag(asset_pack_path('images/telescope.svg'), class: "logo-without-text"), root_path, class: "navbar-brand d-none d-sm-block", id: "navbar-brand") %>
      <%= link_to(image_tag(asset_pack_path('images/logo_text.svg'), class: "logo-text"), root_path, class: "navbar-brand d-none d-lg-block", id: "navbar-brand-text") %>
      <%= form_for(@search, remote: true, html: {id: "search-form", autocomplete: "off" }) do |f| %>
        <%= f.text_field(:keywords, class: "form-control", id: "products_search", autocomplete: :off, placeholder: "Zoek producten") %>
        <%= button_tag(class: "search-submit") do %>
          <%= image_tag(asset_pack_path('images/search-solid.svg')) %>
        <% end %>
      <% end %>
      <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <%#=  link_to(image_tag(asset_pack_path('packs/images/telescope.svg')), root_path, class: "navbar-brand") %>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to "Over", about_path, class: "nav-item nav-link", remote: true %>
        <%#= link_to "Productgroep", root_path, class: "nav-item nav-link", remote: true %>
        <%= link_to "Contact", contact_path, class: "nav-item nav-link", remote: true %>
        <!-- <span class="nav-item nav-link">Vergelijk hardwareprijzen van de grootste online aanbieders</span> -->
      </div>
    </div>
  </div>
</nav>
