<%= form_tag(admin_create_products_path, method: :post) do %>
  <table class="">
    <thead>
      <tr>
        <th>Name</th>
        <th>Store ID</th>
        <th>in DB</th>
        <th>Save?</th>
      </tr>
    </thead>
    <tbody>
      <% @records.each do |record| %>
        <%#= product_form.fields_for :products, record, include_id: false do |r| %>
          <tr class="">
            <td><%= record['name'] %></td>
            <td><%= record['store_id'] %></td>
            <% if Product.find_by(store_id: record['store_id']) %>
              <td><i class='fa fa-check'></i></td>
              <td></td>
            <% else %>
              <td><i class='fa fa-minus'></i></td>
              <td><%= check_box_tag 'save_to_db_ids[]', record['store_id'], {checked: true} %></td>
            <% end %>
            <%= hidden_field_tag 'products[][name]', record['name'] %>
            <%= hidden_field_tag 'products[][store_id]', record['store_id'] %>
            <%= hidden_field_tag 'products[][brand]', record['brand'] %>
            <%= hidden_field_tag 'products[][price]', record['price'] %>
            <%= hidden_field_tag 'products[][image]', record['image'] %>
            <%= hidden_field_tag 'products[][link]', record['link'] %>
            <%= hidden_field_tag 'products[][rating]', record['rating'] %>
            <%= hidden_field_tag 'products[][review_amount]', record['review_amount'] %>
            <%= hidden_field_tag 'products[][available]', record['available'] %>
            <%= hidden_field_tag 'products[][availability]', record['availability'] %>
            <%= hidden_field_tag 'products[][provider_id]', record['provider_id'] %>
            <%= hidden_field_tag 'products[][issue]', record['issue'] %>
          </tr>
        <%# end %>
      <% end %>
    </tbody>
  </table>
  <%= submit_tag("Save to DB", class: "btn btn-success") %>
<% end %>
