<div id="side-menu" class="side-menu">
  <%= form_for(@search, remote: true, id: "search-form") do |f| %>
    <div class="row">
      <div class="col-sm-6 col-lg-12">
        <%= label_tag(:provider_ids, "Aanbieder") %>
        <% providers.each do |provider| %>
          <div class="pretty p-default p-curve d-block checkbox-block">
            <%= f.check_box(:provider_ids, { multiple: true }, provider.id, '') %>
            <div class="state p-default">
              <%= f.label(:provider_ids, provider.name) %> <%= "(#{@all_products.where(provider: provider).count})" %>
            </div>
          </div>
        <% end %>

        <%= label_tag(:brand_ids, "Merk", class: "mt-3") %>
        <% brands.each do |brand| %>
          <div class="pretty p-default p-curve d-block checkbox-block">
            <%= f.check_box(:brand_ids, { multiple: true }, brand.id, '') %>
            <div class="state p-default">
              <%= f.label(:brand_ids, brand.name) %> <%= "(#{@all_products.where(brand: brand).count})" %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-sm-6 col-lg-12">
        <%= label_tag(:price, "Prijs", class: "mt-3") %>
        <div class="form-group row">
          <div class="col-4">
            <%= f.text_field(:min_price, class: "form-control") %>
          </div>
          <span class="d-flex align-items-center">tot</span>
          <div class="col-4">
            <%= f.text_field(:max_price, class: "form-control") %>
          </div>
        </div>
        <%= submit_tag('Zoek', class: "submit-button") %>
      </div>
    </div>
  <% end %>
</div>
