<%= c("page") do %>
  <%= c("navbar") %>
  <%= c("banner") %>
  <div class="container page-body">
    <div class="row">
      <div class="col-lg-3">
        <%= c("side-menu", providers: @providers, brands: @brands) %>
      </div>
      <div class="col-lg-9">
        <%= c("main-col", products: @products) do %>
          <%= c("about") %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
