<%= c("page") do %>
  <%= c("navbar") %>
  <%= c("banner") %>
  <div class="container page-body">
    <div class="row">
      <div id="side-menu-wrapper" class="col-lg-3">
        <%= c("side-menu", providers: @providers, brands: @brands) %>
      </div>
      <div id="main-col-wrapper" class="col-lg-9">
        <%= c("main-col") %>
      </div>
    </div>
  </div>
<% end %>
