<!DOCTYPE html>
<html>
  <head>
    <title>Scraper</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_pack_tag 'stylesheets' %>
    <%= stylesheet_pack_tag 'bootstrap' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <div id="main-content" class="main-content">
      <%#= flash_msgs %>
      <%= yield %>
    </div>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
